

<!DOCTYPE html>
<html>
  <head><title>Map</title>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      padding-top: 40px;
	  padding-bottom: 40px;
 	  background-color: white;
         }
    .login-box {
    max-width: 330px;
    margin: 0 auto;
   		}
    .login-box .form-control {
      margin-bottom: 10px;
    }
  </style>
 
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
  </script>

  <script type="text/javascript">

	var postTable; 
  var firstname;
  var lastname; 
  var email; 
  var userID; 

    console.log("session is: asdfdsfsdafdsfsafdfadsfdsfsafsfs");
    var c = '<%- JSON.stringify(session) %>';
    console.log("session id is, ", JSON.parse(c));
  //firstname = <%= session.firstname %>;
  //lastname = <%= session.lastname %>;
  //email = <%= session.email %>;
  //userID = <%= session.ID %>;
  var cc = JSON.parse(c);
  firstname = cc.firstname;
  lastname = cc.lastname;
  email = cc.email;
  userID = cc.ID;

  console.log("loaded first name is: ", firstname);


  </script>
</head>

<body>
<!--   <div id="map" style="width:500px;height:500px;"></div>
 -->  
  <div id="pos"></div>
  <div id="dataFromServer"></div> 

<!-- Table Element 
	Da
 --> 

<!--  ID, firstname, lastname, email  --> 
 <h1> User Information </h1>
<!--  Search Bar   --> 

<h1> Search bar is here </h1>
<form id="newsearch" method="get" action="/restaurants">
	<input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
</form>

<!-- Posts --> 
<h1> Posts </h1>


<table id = "post-table" border="1">

</table>



<script>



window.onload = function() {
  
  console.log("first name here on loadddddd is: ," , firstname);

	postTable = $('#post-table');

 	refreshPage(); 
}

var refreshPage = function() {

  console.log("Refreshing tehe page");
	$.get('/getPostsAjax', function(res) {
		// Reset the table first 
		console.log("Response from server: ", response);
		postTable.html(''); // search specifics later 
    var responseJSON = JSON.parse(res); 
    var response = responseJSON.posts; 
    console.log("Prased response is: ", response);
		loadPosts(response); 
	});
	console.log("post table is: ", postTable);
}


// -------------------
function loadPosts(jsonResponse) {
	var posts = jsonResponse;
	for (var i = 0; i < posts.length; i++) {
  		$('#post-table').append(createPostElement(posts[i]));
  	}
}

function createPostElement(post) {
	var elem = $('<div/>', {
  		id: "post-" + post.key,
    	class: 'post-div'
  	});

	elem
  		.append(createPostContent(post))
    	.append(createCommentButton(post.key, post.inx));
  console.log("returning post element: ", elem);

  return elem;
}

// // Debug 
//   	console.log("A", 	post['key']);
// 		console.log("comment ID ",	post['value']['commentIDs'][i]);
//     console.log("comment Texts ",post['value']['commentTexts'][i]);
// 	    console.log("comment Owners ",post['value']['commentOwners'][i]);

function createPostContent(post) {
	var elem = $('<div/>');
  
  // Appending Text of posts 
    elem.append(
  		$('<div/>', {style: 'width: 50%; display: inline-box'}).text(post.value.text)
  	); 
  
  console.log("post is: ", post.value);
  
  // Appending comments 
	for (var i = 0; i < post['value']['commentTexts'].length; i++) {    
		elem.append(createCommentElement
			(post['key'], post['inx'],
			post['value']['commentIDs'][i], 
			post['value']['commentTexts'][i],
			post['value']['commentOwners'][i]));
	} 
  
    console.log("returning post content with comments");

  return elem;
}


function createCommentButton(id, postInx) {
  // Assign post id as id of the comment box 
  var commentText = $('#comment-box-' + id).val(); 
  var elem = $('<div/>', {
		id: id, 
  });

  elem
  	// label
  	.append($('<label/>').text("Add new comment:"))
    // text field
    .append($('<input/>', {
    	type: "text",
      	id: "comment-box-" + id,
    }))
    // button
    .append($('<input/>', {
      value: "Post",
      type: "button",
      // Sends a post first 
      click: function() {     
      		// Format json object  	
          console.log("first name here is: ," , firstname);
      		var formData = {
            
	 			'text'	: $('#comment-box-' + id).val(), 
	 			'postID'	: id,
	 			'firstname' : firstname, 
	 			'lastname' : lastname,  
        'userID'  : userID,
        'postInx' : postInx

	 			// note no comment id here, it is generated backend 
 			};
 			// var postingData = JSON.stringify(formData);  

 			$.post('/addcomment', formData, function(response) {
 					// TODO: check comment json passed back  (values: postID, (key) ID, text, owner)
 					var jsonRes = JSON.parse(response);
 					console.log("Json response is: ", jsonRes);
          

          var commentToAdd = createCommentElement(id, postInx, (JSON.parse(response)).inx, commentText, firstname + lastname);

 					commentToAdd.insertBefore('#' + id);
          refreshPage(); 
 				} 
 			);
    }      	
      	/*var newComment = $('<div style="border: 1px solid black;" />').text(
        	
        )*/
        
     }))
     console.log("returning comment elements");


  return elem;
}


function createCommentElement(postKey, postInx, commentID, commentText, commentOwner) {
  console.log("commentText is ;:: ", commentText);
	var commentDiv = $('<div/>', {
		id: "" + postKey + "*" + commentID,
		text: commentOwner + " says " + commentText
	});

	return commentDiv;
}







// nON EFDFDFJKSLJFKLJFLJFLKJLKFJL

// $(function(){
// 	var postsTest = [{id: 1, name: "wu", content: "testing"}, {id: 2, name: "leow", content: "testing again"}];
//   var posts = [JSON.stringify(
// 					{'key' : "0", 
// 				 	'inx' : "0",
// 				  	'value' : {"owner1" 	: "Brian", 
// 				  				 'owner2'	: "Wai", 
// 				  				 'text'		: "Post 1", 
//                    'commentIDs' : ["1", "2"],
// 				  				 'commentTexts' : ["comment 1", "comment 2"],	
// 				  				 'commentOwners' : ["Brian", "Wai Commenter"]
// 				  				}				  				
				  			
// 				  	}), 

// 			JSON.stringify(
// 					{'key' : "1", 
// 				 	'inx' : "0",
// 				  	'value' : {"owner1" 	: "Brian", 
// 				  				 'owner2'	: "Wai", 
// 				  				 'text'		: "yoooooo my post is this", 
//                    'commentIDs' : ["1", "2"],
// 				  				 'commentTexts' : ["comment 1", "comment 2"],
// 				  				 'commentOwners' : ["Brian", "Wai Commenter"]
// 				  				}				  				
				  			
// 				  	}), 

// 			];

//   for (var i = 0; i < posts.length; i++) {
//   	$('#post-table').append(createPostElement(JSON.parse(posts[i])));
//   }
// });

// -------------------

 
// <!--  Add Posts Element 
//  -->
//  <br> 
 
//  <h3> Add New Status  </h3>
 
//   <form id="addpost" method="post">
//     <input type="text" id="formLatitude" name="latField" placeholder="Enter Latitude" required> 
//     <br>
//     <input type="text" id="formLongitude" name="longField" placeholder="Enter longitude" required> 
//     <p> </p>
//    <br><br> 
//     <input id="submitButton" type="submit" value="Add" />
//   </form>  



  
 
//   <br>
//   <a href= "/logout"> Click to Log Out </a>  
  
// </body>
// </html>



  </script>

  

  






